a {
  color: var(--main-bg-color);
}
li {
  display: inline-block;
  list-style-type: none;
}
.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  margin: 2.5%;
}
.card p {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
}
.card-image {
  width: 5.5rem;
  height: 5.5rem;
}
.mobile-only {
  display: none;
}
#Contact_Container,
#Games_Container,
#Home_Container,
#Music_Container,
#Other_Container,
#Projects_Container {
  flex-wrap: wrap;
  /* max-width: 60vw;
  margin: auto; */
}
#Content {
  max-width: 60vw;
}
#Hamburger {
  display: none;
}
#Marquee {
  animation: move-rtl 15000ms linear infinite;
}
#My_Name {
  text-align: center;
  font-size: 2rem;
}
#Nav ul {
  font-size: 1.5em;
}
#Logo_Min {
  display: none;
}
