a {
  color: var(--main-bg-color);
}
li {
  display: inline-block;
  list-style-type: none;
}
.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  margin: 2.5%;
}
.card p {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
}
.card-image {
  width: 5.5rem;
  height: 5.5rem;
}
.mobile-only {
  display: none;
}
.nav_social_icons {
  filter: invert(1);
}
.nav_social_icons:hover {
  filter: invert(20%);
  transition: filter 0.25s ease;
}
#Content {
  max-width: 50vw;
}
#Header {
  height: 100px;
}
#Hamburger {
  display: none;
}
#Header a {
  padding: 0 1rem;
}
#Home_Container {
  top: 100px;
  height: calc(100vh - 140px);
}
#Home_Container p {
  font-size: 2rem;
}
#Job_Title {
  font-size: 2rem;
}
#Logo_Min_Main {
  width: 150px;
}
#Logo_Min_Nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
}
#Marquee {
  animation: move-rtl 25000ms linear infinite;
}
#My_Face {
  width: 13rem;
  height: 13rem;
}
#My_Name {
  font-size: 4rem;
}
#My_Name_Header {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#Nav ul {
  font-size: 1.65em;
  padding: 0;
}
#Nav a:hover {
  filter: invert(60%);
  transition: filter 0.25s ease;
}
#Nav_Social {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
#Nav_Social a {
  margin: 0;
  padding: 0.35rem;
}
#Nav_Social_Header a {
  display: none;
}
#particles-js {
  height: calc(100vh - 140px);
}
