a {
  color: #373737;
}
nav {
  padding-top: 5vh;
}
nav ul {
  display: inline;
  list-style-type: none;
  font-size: 3rem;
}

.card {
  /* border-top-right-radius: 50% 25%;
  border-top-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  border-bottom-left-radius: 50% 25%; */
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  margin: 2.5%;
  width: 125px;
}
.card-image {
  width: 5.5rem;
  height: 5.5rem;
}

.popout-hide {
  top: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.965);
  transform: translate(50vw);
  transition-duration: 550ms;
}
.popout-hide a {
  display: none;
}

.popout-hide img {
  display: none;
}

.popout-show {
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.965);
  width: 80vw;
  height: 100vh;
  transition-duration: 550ms;
}
#Anchor-Reference {
  color: rgb(178, 191, 116);
}
#Hamburger {
  position: absolute;
  top: 15px;
  left: 3%;
  width: 40px;
}

#Header {
  height: 70px;
}

#Home_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#LilFlame_GIF {
  animation: move-rtl 6000ms linear infinite;
}
#My_Name {
  font-size: 1.8rem;
  float: right;
  padding-right: 5%;
}
#Logo_Min img {
  margin-top: 100px;
  max-width: 10rem;
}
#Nametag {
  margin-top: 20px;
  width: 40vw;
}
