a {
  color: #373737;
}
.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  margin: 2.5%;
}
.card p {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
}
.card-image {
  width: 5.5rem;
  height: 5.5rem;
}
.popout-hide {
  top: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.965);
  transform: translate(50vw);
  transition-duration: 550ms;
}
.popout-hide a {
  display: none;
}
.popout-hide img {
  display: none;
}
.popout-show {
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.965);
  width: 80vw;
  height: 100vh;
  transition-duration: 550ms;
}
.desktop-only {
  display: none;
}
#Armored-Crusade-Logo {
  width: 100%;
}
#Hamburger {
  position: absolute;
  top: 15px;
  left: 3%;
  width: 40px;
}

#Header {
  height: 70px;
}

#Home_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Marquee {
  animation: move-rtl 15000ms linear infinite;
}
#My_Name {
  font-size: 1.8rem;
  float: right;
  padding-right: 5%;
}
#Logo_Min img {
  margin-top: 100px;
  max-width: 10rem;
}
#Nametag {
  margin-top: 20px;
  width: 40vw;
}
#Nav {
  padding-top: 5vh;
}
#Nav ul {
  display: inline;
  list-style-type: none;
  font-size: 3rem;
}
