a {
  color: #373737;
}
.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  margin: 2.5%;
}
.card p {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
}
.card-image {
  width: 5.5rem;
  height: 5.5rem;
}
.popout-hide {
  top: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.965);
  transform: translate(50vw);
  transition-duration: 550ms;
}
.popout-hide a {
  display: none;
}
.popout-hide img {
  display: none;
}
.popout-show {
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.965);
  width: 80vw;
  height: 100vh;
  transition-duration: 550ms;
}
.desktop-only {
  display: none;
}
#Content {
  max-width: 90vw;
}
#Hamburger {
  position: absolute;
  top: 15px;
  left: 3%;
  width: 40px;
}
#Header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home_Container {
  height: calc(100vh - 120px);
}
#Job_Title {
  font-size: 1.5rem;
}
#Marquee {
  animation: move-rtl 15000ms linear infinite;
}
#My_Name {
  font-size: 2.5rem;
}
#My_Name_Header {
  font-size: 1.75rem;
  margin-top: 20px;
}
#Logo_Min img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 10rem;
}
#Nav {
  padding-top: 5vh;
}
#Nav ul {
  display: inline;
  list-style-type: none;
  font-size: 3rem;
}
#Nav_Social {
  filter: invert(1);
  margin-top: 15px;
}
#Nav_Social_Header {
  position: absolute;
  top: 5px;
  right: 5px;
}
.nav_social_icons_header {
  filter: invert(1);
  width: 20px;
  height: 20px;
  margin: 3px;
}
#particles-js {
  height: calc(100vh - 120px);
}
