@font-face {
  font-family: JosefinSans;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-display: swap;
}
:root {
  --main-bg-color: #abc270;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
address {
  margin: auto;
}
body {
  padding: 0;
  margin: 0;
  font-family: JosefinSans;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(55, 55, 55, 1);
  background-size: cover;
  color: #fff;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #000;
  text-align: center;
  height: 50px;
  display: flex;
}
h2 {
}
h3 {
}
h4 {
  color: rgb(173, 188, 85);
}
nav ul {
  text-align: center;
  padding-left: 0;
}
p {
  text-align: center;
  font-size: 1.15rem;
  max-width: 75vw;
}
.category-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75vw;
  margin: auto;
}

#Contact_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Fill_Container {
  min-height: 400px;
}
#Header {
  position: sticky;
  margin-top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
}
#Header a {
  text-decoration: none;
  font-weight: 600;
  padding: 0 1rem;
}
#Header h1 {
  margin: 0;
  padding-top: 1.5rem;
}
#Header ul {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#Home_Container {
  padding-top: 15px;
}
#Games_Container,
#Home_Container,
#Music_Container,
#Other_Container,
#Projects_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Main {
  text-align: center;
}
#Games_Container,
#Music_Container {
  background-color: rgba(171, 194, 112, 0.15);
}
#My_Face {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  /* border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%; */
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent;
}
#Last_Name {
  color: var(--main-bg-color);
}
#LilFlame_GIF {
  background: url("../assets/lilFlame.gif") no-repeat 5px 8px;
  width: 50px;
  height: 35px;
}
@keyframes move-rtl {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(100vw);
  }
}
