@font-face {
  font-family: JosefinSans;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-display: swap;
}
:root {
  --main-color-bg1: #413e37;
  --main-color-bg2: #857e7c;
  --main-color-border: #d3b247;
  --main-color-card: #cfc6c4;
  --main-color-name: #d3b247;
  --main-color-text: #413e37;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
address {
  margin: auto;
}
body {
  padding: 0;
  margin: 0;
  font-family: JosefinSans;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--main-color-bg1);
  background-size: cover;
  color: #fff;
}
button {
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #000;
  text-align: center;
  height: 50px;
  display: flex;
}
footer span {
  font-size: 1.25rem;
}
h2 {
}
h3 {
}
iframe {
  border: 3px solid black;
  width: 1000px;
  height: 640px;
}
p {
  font-size: 1.15rem;
  /* max-width: 75vw; */
}
span {
  padding-top: 10px;
  padding-bottom: 10px;
}
.category-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.card {
  border: 5px solid var(--main-color-border);
  background-color: var(--main-color-card);
}
.card p {
  margin: 10px;
  color: var(--main-color-text);
  font-weight: bold;
}
.card-image {
  border: 2.5px solid black;
  border-radius: 25%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group input,
.form-group button,
.form-group textarea {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  font-weight: bold;
  box-shadow: 1.5px 1.5px #000000;
}
.form-group button {
  background-color: #d89488;
  width: 80px;
}
.nav_social_icons {
  filter: invert(1);
  width: 3.5rem;
  height: 3.5rem;
  object-fit: fill;
  padding: 5px;
}
#Anchor-Reference {
  color: rgb(178, 191, 116);
}
#Armored-Crusade-Logo {
  margin-top: 20px;
  border-radius: 25px;
  border: 3px solid black;
  box-shadow: 2px 2px #000000;
  width: 90%;
}
#Content {
  margin: auto;
}
#Disclaimer {
  color: rgb(213, 58, 58);
  font-size: 1rem;
}
#Fill_Container {
  min-height: 50px;
}
#Header {
  position: sticky;
  margin-top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
}
#Header a {
  text-decoration: none;
  font-weight: 600;
  padding: 0 1rem;
}
#Header h1 {
  margin: 0;
  padding-top: 1.5rem;
}
#Header ul {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#Home_Container {
  padding-top: 15px;
  background: linear-gradient(45deg, var(--main-color-name), rgb(14, 64, 121));
  background-size: 200% 300%;
  animation: gradientAnimation 80s ease infinite;
  animation-name: gradientAnimation;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  overflow: hidden;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#Games_Container,
#Home_Container,
#Music_Container,
#Other_Container,
#Projects_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Main {
  text-align: center;
}
#Projects_Container,
#Other_Container {
  background-color: var(--main-color-bg2);
}
#My_Face {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent;
}
#My_Name {
  color: #fff;
  cursor: pointer;
}
#Last_Name {
  color: var(--main-color-name);
}
#Marquee {
  white-space: nowrap;
}
@keyframes move-rtl {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-1000px);
  }
}
#Nav ul {
  text-align: center;
  padding-left: 0;
}
#Nav_Social_Bottom {
  display: flex;
  align-items: center;
}
#SlideShow {
  margin-top: 20px;
}
#SlideShow img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent;
  border-radius: 15px;
}
#Non-SlideShow img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent;
  border-radius: 15px;
}
