* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}

.name {
  text-align: center;
  color: white;
  padding-top: 40px;
}

span {
  color: #01737b;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #01737b;
  transition: 0.3s;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}

#myFace {
  width: 256px;
  height: 256px;
  border-radius: 15%;
  border: 5px solid transparent;
  border-color: white;
}
