body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: #01737b;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}

span {
  color: #01737b;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #01737b;
  transition: 0.3s;
}

.About_Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Container {
  width: 100%;
}

.Name {
  text-align: center;
  color: white;
  padding-top: 40px;
}

.Popout_Hide {
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  width: 30vw;
  height: 100vh;
  transform: translate(-30vw);
  transition-duration: 250ms;
}

.Popout_Show {
  top: 0;
  position: absolute;
  z-index: 99999;
  background-color: rgba(211, 211, 211, 0.95);
  width: 80vw;
  height: 100vh;
  transition-duration: 250ms;
}

@media (width >= 1080px) {
  #hamburger {
    display: none !important;
  }
}

@media (width <= 1080px) {
  #hamburger {
    float: right;
    width: 45px;
  }
}

#my_face {
  width: 10rem;
  height: 10rem;
  border-radius: 15%;
  border: 5px solid transparent;
  border-color: white;
}

#popout ul {
  list-style-type: none;
  font-size: 3rem;
}
