/* * {
  border: 1px solid green;
} */

:root {
  --main-bg-color: #01737b;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("assets/background2.jpg");
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: var(--main-bg-color);
  font-weight: bold;
}

span {
  color: var(--main-bg-color);
}

.Container {
  width: 100%;
}

#my_face {
  width: 10rem;
  height: 10rem;
  border-radius: 15%;
  border: 5px solid transparent;
  border-color: white;
}

/* DESKTOP */
@media only screen and (min-width: 720px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    font-size: 2vw;
  }
  .Home_Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Name {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 3vw;
  }
  #hamburger {
    display: none;
  }
}

/* MOBILE */
@media only screen and (max-width: 720px) {
  nav ul {
    display: inline;
    text-align: center;
    list-style-type: none;
    font-size: 3rem;
  }
  p {
    text-align: center;
  }
  .Home_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .Name {
    padding-left: 15px;
  }
  .Popout_Hide {
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
    width: 30vw;
    height: 100vh;
    transform: translate(-30vw);
    transition-duration: 350ms;
  }
  .Popout_Hide a {
    display: none;
  }
  .Popout_Show {
    top: 0;
    position: absolute;
    z-index: 99999;
    background-color: rgba(211, 211, 211, 0.95);
    width: 80vw;
    height: 100vh;
    transition-duration: 350ms;
  }
  #hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
  }
}
